.add-note-card{
    min-width: 100px;
    min-height: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    left: 8px;
    margin-top: 10%;
    margin-bottom: 10%;
}